[submodule "myvariant"]
	path = myvariant
	url = https://github.com/biothings/myvariant.info.git
[submodule "mygene"]
	path = mygene
	url = https://github.com/biothings/mygene.info.git
[submodule "mychem"]
	path = mychem
	url = https://github.com/biothings/mychem.info.git
[submodule "standalone"]
	path = standalone
	url = https://github.com/biothings/standalone.git


[submodule "plugins/BigGIM_Parser"]
	path = plugins/BigGIM_Parser
	url = https://github.com/gloriachin/BigGIM_Parser
	branch = main
	ignore = dirty
[submodule "plugins/biggim_kp"]
	path = plugins/biggim_kp
	url = https://github.com/Hadlock-Lab/biggim_kp
	branch = main
	ignore = dirty
[submodule "plugins/BindingDB"]
	path = plugins/BindingDB
	url = https://github.com/biothings/BindingDB
	ignore = dirty
[submodule "plugins/bioplanet_pathway_disease"]
	path = plugins/bioplanet_pathway_disease
	url = https://github.com/rjawesome/bioplanet_pathway_disease.git
	branch = main
	ignore = dirty
[submodule "plugins/bioplanet_pathway_gene"]
	path = plugins/bioplanet_pathway_gene
	url = https://github.com/rjawesome/bioplanet_pathway_gene.git
	branch = main
	ignore = dirty
[submodule "plugins/bte_filter"]
	path = plugins/bte_filter
	url = https://github.com/kevinxin90/bte_filter
	ignore = dirty


[submodule "plugins/cell_ontology"]
	path = plugins/cell_ontology
	url = https://github.com/kevinxin90/cell_ontology
	ignore = dirty
[submodule "plugins/chebi"]
	path = plugins/chebi
	url = https://github.com/ericz1803/chebi
	ranch = main
	ignore = dirty
[submodule "plugins/clinical_risk_kp"]
	path = plugins/clinical_risk_kp
	url = https://github.com/Hadlock-Lab/clinical_risk_kp
	ignore = dirty


[submodule "plugins/DDInter"]
	path = plugins/DDInter
	url = https://github.com/biothings/DDInter
	branch = main
	ignore = dirty
[submodule "plugins/DGIdb"]
	path = plugins/DGIdb
	url = https://github.com/biothings/DGIdb
	ignore = dirty
[submodule "plugins/DISEASES"]
	path = plugins/DISEASES
	url = https://github.com/kevinxin90/DISEASES
	ignore = dirty
[submodule "plugins/doid"]
	path = plugins/doid
	url = https://github.com/ericz1803/doid
	branch = main
	ignore = dirty


[submodule "plugins/ebi_gene2phenotype"]
	path = plugins/ebi_gene2phenotype
	url = https://github.com/erikyao/ebi_gene2phenotype
	ignore = dirty


[submodule "plugins/foodb_json"]
	path = plugins/foodb_json
	url = https://github.com/yichuanma95/foodb_json
	branch = main
	ignore = dirty
[submodule "plugins/geneset1"]
	path = plugins/geneset1
	url = https://github.com/kevinxin90/geneset1
	ignore = dirty
[submodule "plugins/go"]
	path = plugins/go
	url = https://github.com/ericz1803/go
	branch = main
	ignore = dirty
[submodule "plugins/go_bp"]
	path = plugins/go_bp
	url = https://github.com/kevinxin90/go_bp
	ignore = dirty
[submodule "plugins/go_cc"]
	path = plugins/go_cc
	url = https://github.com/kevinxin90/go_cc
	ignore = dirty
[submodule "plugins/go_mf"]
	path = plugins/go_mf
	url = https://github.com/kevinxin90/go_mf
	ignore = dirty
[submodule "plugins/GTRx"]
	path = plugins/GTRx
	url = https://github.com/biothings/GTRx
	branch = main
	ignore = dirty
[submodule "plugins/gwascatalog"]
	path = plugins/gwascatalog
	url = https://github.com/erikyao/gwascatalog
	ignore = dirty


[submodule "plugins/hpo"]
	path = plugins/hpo
	url = https://github.com/biothings/hpo
	ignore = dirty


[submodule "plugins/iDisk"]
	path = plugins/iDisk
	url = https://github.com/r76941156/iDisk
	ignore = dirty
[submodule "plugins/InnateDB_parser"]
	path = plugins/InnateDB_parser
	url = https://github.com/ericz1803/InnateDB_parser
	branch = main
	ignore = dirty


[submodule "plugins/mgi_gene2phenotype"]
	path = plugins/mgi_gene2phenotype
	url = https://github.com/kevinxin90/mgi_gene2phenotype.git
	ignore = dirty
[submodule "plugins/mondo"]
	path = plugins/mondo
	url = https://github.com/ericz1803/mondo
	branch = main
	ignore = dirty
[submodule "plugins/Multiomics_ClinicalTrials_KP"]
	path = plugins/Multiomics_ClinicalTrials_KP
	url = https://github.com/Hadlock-Lab/Multiomics_ClinicalTrials_KP
	branch = main
	ignore = dirty
[submodule "plugins/multiomics_wellness_kp"]
	path = plugins/multiomics_wellness_kp
	url = https://github.com/Hadlock-Lab/multiomics_wellness_kp
	branch = main
	ignore = dirty


[submodule "plugins/pfocr"]
	path = plugins/pfocr
	url = https://github.com/kevinxin90/pfocr.git
	ignore = dirty
[submodule "plugins/phewas"]
	path = plugins/phewas
	url = https://github.com/kevinxin90/phewas
	ignore = dirty
[submodule "plugins/prot_meta_assc_hmdb"]
        path = plugins/prot_meta_assc_hmdb
        url = https://github.com/NikkiBytes/prot_meta_assc_hmdb
        ignore = dirty
        branch = main
[submodule "plugins/pseudocap_go"]
	path = plugins/pseudocap_go
	url = https://github.com/kevinxin90/pseudocap_go
	ignore = dirty

[submodule "plugins/rare_source"]
        path = plugins/rare_source
        url = https://github.com/biothings/rare_source
        ignore = dirty
        branch = main
[submodule "plugins/Rhea"]
	path = plugins/Rhea
	url = https://github.com/biothings/Rhea
	ignore = dirty



[submodule "plugins/SuppKG"]
	path = plugins/SuppKG
	url = https://github.com/biothings/SuppKG
	branch = main
	ignore = dirty


[submodule "plugins/tcga_mut_freq_kp"]
	path = plugins/tcga_mut_freq_kp
	url = https://github.com/kevinxin90/tcga_mut_freq_kp
	ignore = dirty
[submodule "plugins/text_mining_targeted_association"]
	path = plugins/text_mining_targeted_association
	url = https://github.com/UCDenver-ccp/text_mining_targeted_association
	ignore = dirty
[submodule "plugins/TISSUES"]
	path = plugins/TISSUES
	url = https://github.com/NikkiBytes/TISSUES
	branch = main
	ignore = dirty


[submodule "plugins/uberon"]
	path = plugins/uberon
	url = https://github.com/kevinxin90/uberon
	ignore = dirty
[submodule "plugins/umlschem"]
	path = plugins/umlschem
	url = https://github.com/kevinxin90/umlschem
	ignore = dirty
[submodule "plugins/upheno_ontology"]
	path = plugins/upheno_ontology
	url = https://github.com/kevinxin90/upheno_ontology
	ignore = dirty

[submodule "plugins/ncit"]
	path = plugins/ncit
	url = https://github.com/DylanWelzel/ncit
[submodule "plugins/semmeddb"]
	path = plugins/semmeddb
	url = https://github.com/biothings/semmeddb
[submodule "plugins/BioThings_TTD_Dataplugin"]
	path = plugins/BioThings_TTD_Dataplugin
	url = https://github.com/lucyzhang95/BioThings_TTD_Dataplugin
