[submodule "myvariant"]
	path = myvariant
	url = https://github.com/biothings/myvariant.info.git
[submodule "mygene"]
	path = mygene
	url = https://github.com/biothings/mygene.info.git
[submodule "mychem"]
	path = mychem
	url = https://github.com/biothings/mychem.info.git
[submodule "standalone"]
	path = standalone
	url = https://github.com/biothings/standalone.git

[submodule "plugins/semmed_parser"]
	path = plugins/semmed_parser
	url = https://github.com/r76941156/semmed_parser
	branch = main
[submodule "plugins/iDisk"]
	path = plugins/iDisk
	url = https://github.com/r76941156/iDisk
[submodule "plugins/biggim_kp"]
	path = plugins/biggim_kp
	url = https://github.com/Hadlock-Lab/biggim_kp
[submodule "plugins/DGIdb"]
	path = plugins/DGIdb
	url = https://github.com/kevinxin90/DGIdb
[submodule "plugins/bte_filter"]
	path = plugins/bte_filter
	url = https://github.com/kevinxin90/bte_filter
[submodule "plugins/cell_ontology"]
	path = plugins/cell_ontology
	url = https://github.com/kevinxin90/cell_ontology
[submodule "plugins/clinical_risk_kp"]
	path = plugins/clinical_risk_kp
	url = https://github.com/Hadlock-Lab/clinical_risk_kp
[submodule "plugins/cord_anatomy"]
	path = plugins/cord_anatomy
	url = https://github.com/kevinxin90/cord_anatomy.git
[submodule "plugins/cord_bp"]
	path = plugins/cord_bp
	url = https://github.com/kevinxin90/cord_bp.git
[submodule "plugins/cord_cc"]
	path = plugins/cord_cc
	url = https://github.com/kevinxin90/cord_cc.git
[submodule "plugins/cord_cell"]
	path = plugins/cord_cell
	url = https://github.com/kevinxin90/cord_cell.git
[submodule "plugins/cord_chemical"]
	path = plugins/cord_chemical
	url = https://github.com/kevinxin90/cord_chemical
[submodule "plugins/cord_disease"]
	path = plugins/cord_disease
	url = https://github.com/kevinxin90/cord_disease.git
[submodule "plugins/cord_gene"]
	path = plugins/cord_gene
	url = https://github.com/kevinxin90/cord_gene.git
[submodule "plugins/cord_genomic_entity"]
	path = plugins/cord_genomic_entity
	url = https://github.com/kevinxin90/cord_genomic_entity.git
[submodule "plugins/cord_ma"]
	path = plugins/cord_ma
	url = https://github.com/kevinxin90/cord_ma.git
[submodule "plugins/cord_protein"]
	path = plugins/cord_protein
	url = https://github.com/kevinxin90/cord_protein.git
[submodule "plugins/drug_response_kp"]
	path = plugins/drug_response_kp
	url = https://github.com/gloriachin/drug_response_kp
[submodule "plugins/ebi_data_parser"]
	path = plugins/ebi_data_parser
	url = https://github.com/erikyao/ebi_data_parser
[submodule "plugins/gene_resolver"]
	path = plugins/gene_resolver
	url = https://github.com/kevinxin90/gene_resolver
[submodule "plugins/geneset1"]
	path = plugins/geneset1
	url = https://github.com/kevinxin90/geneset1
[submodule "plugins/go_bp"]
	path = plugins/go_bp
	url = https://github.com/kevinxin90/go_bp
[submodule "plugins/go_cc"]
	path = plugins/go_cc
	url = https://github.com/kevinxin90/go_cc
[submodule "plugins/go_mf"]
	path = plugins/go_mf
	url = https://github.com/kevinxin90/go_mf
[submodule "plugins/gwascatalog"]
	path = plugins/gwascatalog
	url = https://github.com/erikyao/gwascatalog
[submodule "plugins/hpo"]
	path = plugins/hpo
	url = https://github.com/kevinxin90/hpo
[submodule "plugins/mgi_gene2phenotype"]
	path = plugins/mgi_gene2phenotype
	url = https://github.com/kevinxin90/mgi_gene2phenotype.git
[submodule "plugins/mp"]
	path = plugins/mp
	url = https://github.com/kevinxin90/mp
[submodule "plugins/multiomics_wellness_kp"]
	path = plugins/multiomics_wellness_kp
	url = https://github.com/Hadlock-Lab/multiomics_wellness_kp
	branch = main
[submodule "plugins/mvcgi"]
	path = plugins/mvcgi
	url = https://github.com/sirloon/mvcgi.git
[submodule "plugins/pfocr"]
	path = plugins/pfocr
	url = https://github.com/kevinxin90/pfocr.git
[submodule "plugins/phewas"]
	path = plugins/phewas
	url = https://github.com/kevinxin90/phewas
[submodule "plugins/pseudocap_go"]
	path = plugins/pseudocap_go
	url = https://github.com/kevinxin90/pseudocap_go
[submodule "plugins/repoDB"]
	path = plugins/repoDB
	url = https://github.com/erikyao/repoDB
	branch = main
[submodule "plugins/semmed"]
	path = plugins/semmed
	url = https://github.com/kevinxin90/semmed
[submodule "plugins/semmedana"]
	path = plugins/semmedana
	url = https://github.com/kevinxin90/semmedana
[submodule "plugins/semmedbp"]
	path = plugins/semmedbp
	url = https://github.com/kevinxin90/semmedbp
[submodule "plugins/semmedchemical"]
	path = plugins/semmedchemical
	url = https://github.com/kevinxin90/semmedchemical
[submodule "plugins/semmedgene"]
	path = plugins/semmedgene
	url = https://github.com/kevinxin90/semmedgene
[submodule "plugins/semmedphen"]
	path = plugins/semmedphen
	url = https://github.com/kevinxin90/semmedphen
[submodule "plugins/tcga_mut_freq_kp"]
	path = plugins/tcga_mut_freq_kp
	url = https://github.com/kevinxin90/tcga_mut_freq_kp
[submodule "plugins/text_mining_cooccurrence_kp"]
	path = plugins/text_mining_cooccurrence_kp
	url = https://github.com/UCDenver-ccp/text_mining_cooccurrence_kp
[submodule "plugins/text_mining_targeted_association"]
	path = plugins/text_mining_targeted_association
	url = https://github.com/UCDenver-ccp/text_mining_targeted_association
[submodule "plugins/translator_clinical_risk_kp"]
	path = plugins/translator_clinical_risk_kp
	url = https://github.com/Hadlock-Lab/translator_clinical_risk_kp.git
[submodule "plugins/uberon"]
	path = plugins/uberon
	url = https://github.com/kevinxin90/uberon
[submodule "plugins/umlschem"]
	path = plugins/umlschem
	url = https://github.com/kevinxin90/umlschem
[submodule "plugins/upheno_ontology"]
	path = plugins/upheno_ontology
	url = https://github.com/kevinxin90/upheno_ontology
[submodule "plugins/DISEASES"]
	path = plugins/DISEASES
	url = https://github.com/kevinxin90/DISEASES
