# for opentelemetry
opentelemetry-api>=1.42.11
opentelemetry-sdk>=1.42.11
opentelemetry-exporter-otlp-proto-http>=1.42.11
opentelemetry-instrumentation>=0.63b11
opentelemetry-instrumentation-tornado>=0.63b11
opentelemetry-instrumentation-elasticsearch>=0.63b11
deprecated>=1.3.1
