:root{
    --main-dark:#1b263b;
    --main-medium:#7209b7;
    --main-light:#501cbe;
    --main-accent: #fbff12;
}

.min-height-100{
    min-height: 80vh;;
}

#nav {
position: static !important; /* Ensures the nav stays in the flow of the page */
top: auto; /* Resets any top offset */
}

.pointer{
    cursor: pointer;
}

#api_select{
    border-radius: 10px;
}

.hero{
    background-image: url("/static/img/hero.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.bg-hex{
    background-image: url("/static/img/hexa.svg");
    background-position: bottom left;
    background-repeat: no-repeat;
}

.bg-bts{
    background-image: url("/static/img/bts.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.main-font, h1, h2, h3, h4, h5{
    font-family: "Baumans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.source-box{
    border: var(--main-accent) 1px solid;
    border-radius: 10px;
}

.bg-none{
    background-color: transparent;
}

.bg-dark{
    background-color: var(--main-dark);
}

.bg-dark-trans{
    background-color: rgba(27, 38, 59, .8);
}

.bg-med{
    background-color: var(--main-medium);
}

.bg-theme-light{
    background-color: var(--main-light);
}

.bg-white{
    background-color: white;
}

.bg-accent{
    background-color: var(--main-accent);
}

.text-theme-dark{
    color: var(--main-dark);
}

.text-theme-light{
    color: var(--main-accent);
}

.text-white{
    color: white;
}

::selection{
    background-color:black;
    color: var(--main-accent);
}

.search_input{
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: var(--main-dark);
    border-radius: 5px;
    border-bottom: var(--main-accent) solid 2px;
    padding: 3px;
    font-size: 1rem;
    color: white;
    transition: all 1s;
}

.search_input:focus{
    border-bottom: white solid 2px;
}

.badge-dark{
    background-color: black;
}

.api-main-container{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 900px;
}

.api-main-container::-webkit-scrollbar {
    width: 12px;
}

.api-main-container::-webkit-scrollbar-track {
    background-color: var(--main-medium);
}

.api-main-container::-webkit-scrollbar-thumb {
    background-color: var(--main-accent);
    border-radius: 10px;
}

.entity-badge{
    transition: all 1s;
}

.entity-badge:hover{
    border: solid var(--main-accent) 1px;
}

div.content a:hover{
    color:var(--green-medium);
}

.navbar-brand:hover,.nav-link:hover{
    color:white;
}

.noListStyle{
    list-style:none;
}

.listBlock li{
    display:inline-block;
    margin:15px;
}

.fullWidth{
    width:100%;
}

.bg-hover-animate{
    transition:all 1s;
    background-color:rgba(255,255,255,.0);
}

.bg-hover-animate:hover{
    transition:all 1s;
    background-color:rgba(255,255,255,1);
    color:#323232;
    text-decoration:none;
}

.no-decoration{
    text-decoration:none;
}

.smallCaps{
    font-variant:small-caps;
}

.contentBack{
    background-color:#e6e6e6;
}

.list-group-item,.table td,.table th,.table thead th,.table tr{
    border:none;
}

.modal{
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:#000;
    background-color:rgba(0,0,0,0.6);
}

.modal-content{
    background-color:rgba(0,0,0,0.2);
    margin:15% auto;
    padding:20px;
    width:80%;
}

.close{
    color:var(--green-medium);
    float:right;
    clear:both;
    font-size:28px;
    font-weight:bold;
    transition:1s all;
}

.close:hover,.close:focus{
    color:white;
    text-decoration:none;
    cursor:pointer;
}

.bold{
    font-weight:bold;
}

.card{
    border:none;
}

.btn-main{
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    background:var(--main-dark);
    color:#ccc;
    padding:8px 20px;
    border-radius:4px;
    transition:.6s;
    overflow:hidden;
    border:3px solid white;
}

.btn-main:focus{
    outline:0;
}

.btn-main::before{
    content:'';
    display:block;
    position:absolute;
    background:var(--main-medium);
    width:60px;
    height:100%;
    left:0;
    top:0;
    opacity:.5;
    -webkit-filter:blur(30px);
    filter:blur(30px);
    -webkit-transform:translateX(-100px) skewX(-15deg);
    transform:translateX(-100px) skewX(-15deg);
}

.btn-main::after{
    content:'';
    display:block;
    position:absolute;
    background:rgba(255,255,255,0.2);
    width:30px;
    height:100%;
    left:30px;
    top:0;
    opacity:0;
    -webkit-filter:blur(5px);
    filter:blur(5px);
    -webkit-transform:translateX(-100px) skewX(-15deg);
    transform:translateX(-100px) skewX(-15deg);
}

.btn-main:hover{
    background:var(--main-dark);
    cursor:pointer;
    text-decoration:none;
    color:white;
    box-shadow:0 0 20px white;
}

.btn-main:hover::before{
    -webkit-transform:translateX(300px) skewX(-15deg);
    transform:translateX(300px) skewX(-15deg);
    opacity:.6;
    transition:.7s;
}

.btn-main:hover::after{
    -webkit-transform:translateX(300px) skewX(-15deg);
    transform:translateX(300px) skewX(-15deg);
    opacity:1;
    transition:.7s;
}

#animation_container{
    margin:auto
}

.apiDetails{
    border-bottom:1px solid white;
}

.d-flex{
    flex-wrap:wrap;
}

.table td,.table th{
    vertical-align:middle;
}

.tablePill{
    padding:2px;
}

.tablePill td:first-child{
    background:#222;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    padding:4px;
}

.tablePill td:last-child{
    background:#373737;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    padding:4px;
}

.reflection{
    margin:0;
    padding:0;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-transform:uppercase;
    color:white;
    font-size:3.5em;
}

.reflection::before{
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    transform-origin:bottom;
    transform:rotateX(180deg);
    line-height:1em;
    background:linear-gradient(0deg,grey 0,transparent 70%);
    -webkit-background-clip:text;
    color:transparent;
    opacity:.6;
}

.link-list{
    list-style:none;
    padding:0;
}

.link-list li:::after{
    content:' | ';
}

.link-list li:last-child:::after{
    content:'';
}

.introP{
    position:absolute;
    bottom:20px;
    margin:auto;
    font-size:1.5em;
}

.spinner{
    margin:100px auto;
    width:40px;
    height:40px;
    position:relative;
}

.cube1,.cube2{
    background-color:white;
    width:15px;
    height:15px;
    position:absolute;
    top:0;
    left:0;
    -webkit-animation:sk-cubemove 1.8s infinite ease-in-out;
    animation:sk-cubemove 1.8s infinite ease-in-out;
}

.cube2{
    -webkit-animation-delay:-0.9s;
    animation-delay:-0.9s;
}

.disclosure{
    font-weight:bold;
}

.syntax{
    color:#3879c6;
}

.string{
    color:#86411b;
}

.number{
    color:purple;
}

.boolean{
    color:purple;
}

.keyword{
    color:red;
}

.object.syntax{
    color:green;
}

.array.syntax{
    color:blue;
}

#navPanel{
    background-color:#323232;
    font-size:1.5em;
}

#navPanel .link.depth-0{
    color:var(--green-light);
}

#header>nav{
    position:fixed;
    left:0;
    top:0;
}

#header.alt{
    background-color:#323232;
}

.navPanelToggle{
    border-bottom:none;
}

#header.alt>.navPanelToggle{
    color:white;
    top:5px;
}

.fullscreen{
    min-height:100vh;
}

#header.alt>nav{
    top:0;
    right:0;
}

.navbar{
    padding:0;
    padding-left:20px;
}

.navbar-nav .nav-link{
    padding:0;
}

.navbar-dark .navbar-nav .nav-link{
    border:none;
}

.navbar-dark .navbar-brand{
    border:none;
}