9000 {

    log {
        output stdout
        format console
    }

    encode zstd gzip

    route {
        @oneSegmentWithSlash path_regexp segment ^(/[^/]+)/$
        redir @oneSegmentWithSlash {http.regexp.segment.1} permanent

        @oneSegment path_regexp ^/[^/]+$
        respond @oneSegment "OK from one segment"

        @rootPath path /
        respond @rootPath "OK from root"

        respond "Not Found" 404
    }
}