:9000 {

    log {
        output stdout
        format json
    }

    encode zstd gzip

    @oneSegmentWithSlash {
        path_regexp segment ^/([^/]+)/$
    }
    handle @oneSegmentWithSlash {
        redir /{re.segment.1} permanent
    }

    @oneSegment {
        path_regexp ^/[^/]+$
    }
    handle @oneSegment {
        respond "OK from one segment"
    }

    @rootPath {
        path /
    }
    handle @rootPath {
        respond "OK from root"
    }

    handle {
        respond "Not Found" 404
    }
}
