# Default values for pendingapi.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

deployment:
  replicaCount: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      # This setting ensures that no existing pods are taken down before new ones are up and running.
      # This configuration guarantees that there will be no downtime during the update.
      maxUnavailable: 2
      # This allows Kubernetes to create one additional pod above the desired number of replicas during the update.
      # It ensures that a new pod is ready before taking an old pod down.
      maxSurge: 0

python:
  image:
    repository: 853771734544.dkr.ecr.us-east-1.amazonaws.com/translator-bte-pending-api
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: python-DOCKER_VERSION_VALUE
    resources:
      requests:
        memory: 16Gi # 42Gi max
        cpu: 2200m # 8000m max
      limits:
        memory: 22Gi # 58Gi max
        cpu: 3700m # 14000m max
caddy:
  image:
    repository: 853771734544.dkr.ecr.us-east-1.amazonaws.com/translator-bte-pending-api
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: caddy-DOCKER_VERSION_VALUE
    resources:
      requests:
        memory: 5Gi # 42Gi max
        cpu: 800m # 8000m max
      limits:
        memory: 7Gi # 58Gi max
        cpu: 1300m # 14000m max

containers:
  python:
    name: pending-api-python
    es_host: ES_HOST_VALUE
    port: 9001
    env:
      OPENTELEMETRY_ENABLED_VALUE: True
      OPENTELEMETRY_SERVICE_NAME: "Service Provider"
      OPENTELEMETRY_JAEGER_HOST: localhost
      OPENTELEMETRY_JAEGER_PORT: 6831

  caddy:
    name: pending-api-caddy
    port: 9000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/tags: Name=BTE_ALB_TAG_VALUE,Environment=ENVIRONMENT_TAG_VALUE
    alb.ingress.kubernetes.io/security-groups: BTE_ALB_SG_VALUE
    alb.ingress.kubernetes.io/ssl-policy: ELBSecurityPolicy-TLS-1-2-Ext-2018-06
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
    alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
    alb.ingress.kubernetes.io/success-codes: '200'
    alb.ingress.kubernetes.io/load-balancer-attributes: idle_timeout.timeout_seconds=600
  host: BTEPA_HOSTNAME_VALUE

ncats:
  labels:
    gov.nih.ncats.appenv: appenv
    gov.nih.ncats.appname: bte-pendingapi
    gov.nih.ncats.appentry: BTEPA_HOSTNAME_VALUE
    gov.nih.ncats.appentrytype: https
    gov.nih.ncats.appentryport: tcp
    gov.nih.ncats.appconnnum: '1'
    gov.nih.ncats.appconn1host: ES_HOST_VALUE
    gov.nih.ncats.appconn1port: ES_HOST_PORT

# With the following two sections, we can restrict the deployment on and only on the specific node
# toleration to node taint such that this deployment can be scheduled on the tainted node while others without the toleration can not
tolerations: 
- key      : "transltr"
  value    : "bte"
  operator : "Equal"
  effect   : "NoSchedule"

# nodeSelection affinity(application=bte) such that this deployment will only select the node with that label
affinity: 
  # this ensures pod only runs on node with label application=bte
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: application
          operator: In
          values:
          - bte
  # this ensures only ONE pod will run on each node
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
    - labelSelector:
        matchExpressions:
        - key: app.kubernetes.io/name
          operator: In
          values:
          - bte
      topologyKey: "kubernetes.io/hostname"
