{% extends "main.html" %}
{% block content %}
<section id="index-app">
	<div class="hero bg-theme-dark">
		<div class="container">
			{% if site == "pending" %}
			<div id="home" class="jumbotron bg-none text-left mb-0">
				<h1 id="logo" class="text-theme-light lighter textShadow">
					<span class="bold main-font">Pending</span> <br class="d-block d-md-none" />BioThings APIs
				</h1>
				<div>
					<p class="text-white">
						A collection of community-contributed APIs from various biomedical data sources.
					</p>
				</div>
			</div>
		{% else %}
			<section class="jumbotron bg-dark-trans mb-0 text-left">
				<h1 class="mt-5 mb-0 text-theme-light text-center">
					Knowledge Provider (KP) APIs
				</h1>
				<h3 class="text-center text-theme-light">Made for <a class="text-theme-light text-underline" href="https://ncats.nih.gov/translator" target="_blank" rel="noreferrer">NCATS Biomedical Data Translator</a> Program</h3>
				<p class="text-white">
					The list of APIs here provide programatic access to the underlying knowledge sources they cover. They were built using
					<a rel="noopener"  class="link" href="https://biothingsapi.readthedocs.io/en/latest/" target="_blank">BioThings SDK</a> and follow the same design pattern of our official BioThings APIs (<a rel="noopener"  class="link" href="https://mygene.info" target="_blank">MyGene.info</a>,
					<a rel="noopener" class="link" href="https://myvariant.info" target="_blank">MyVariant.info</a>, <a rel="noopener"  class="link" href="https://mychem.info" target="_blank">MyChem.info</a>, etc). These APIs are serving as the Knowledge Providers (KPs) in the <a href="https://ncats.nih.gov/translator" target="_blank" rel="noreferrer" class="link">NCATS Biomedical Data Translator</a> project. They were deployed to the
					NCATS Cloud infrastructure for production use.
				</p>
				<p class="text-white">
					We are continuing expanding the list of KP APIs here as new knowledge sources are identified. You are always welcome to <a href="https://github.com/NCATS-Tangerine/translator-api-registry/issues/new?assignees=cmungall%2C+tomconlin%2C+newgene%2C+kevinxin90&labels=data+wanted&template=a_data_source_wanted.md" target="_blank" rel="noreferrer" class="link">suggest a great resource</a> to us as well.
				</p>
			</section>
		{% endif %}
		</div>
	</div>

	<div id="pending" class="text-theme-light text-center bg-theme-light">
		<div class="bg-dark-trans py-3">
			<div class="py-1">
				<h2><img width="40" src="/static/img/featured.png" alt="Featured APIs" class="d-inline"/> Featured APIs</h2>
			</div>
			<div class="d-flex justify-content-center align-items-center flex-wrap container pt-4"> 
				<featured-type biotype="association"></featured-type>
				<featured-type biotype="variant"></featured-type>
				<featured-type biotype="gene"></featured-type>
			</div>
		</div>
		<div class="container py-3">
			<div>
				<form class="p-2">
					<label class="mr-4" for="search">(<span class="text-white" style="font-family: sans-serif;" v-text="apis.length"></span>) APIs</label>
					<input v-model="query" type="text" name="search" class="search_input w-50" placeholder="Search" ref="searchInput" autofocus>
					<datalist id="api_list"></datalist>
				</form>
				<div class="d-flex justify-content-center align-items-center p-3">
					<div>
						<small class="d-block text-theme-light">Filter by Entity Type</small>
						<template v-for="type in biothing_types">
							<a href="#" class="entity-badge badge border border-light m-1" :class="[type.active? 'badge-warning bg-accent':'badge-dark']" @click.prevent="toggleType(type.name)">
							<i class="fas fa-circle" :style="{color:type.color}"></i> <span v-text="type.name" :key="type.name"></span>
							</a>
						</template>
					</div>
				</div>
				<div class="api-main-container">
					<table class="table table-striped w-100 text-left table-light table-sm table-hover text-theme-dark mb-5" id="pending-api-table">
						<colgroup>
							<col span="1">
							<col span="1">
							<col span="1">
						  </colgroup>
						<thead class="bg-med text-white sticky-top top-0">
						    <tr>
						      <th scope="col" @click="sortBy(0, false)">Name <i class="fas fa-sort" style="float:right;margin-top:3px"></i></th>
							  <th scope="col" class="d-none d-md-table-cell" @click="sortBy(1, true)">Documents <i class="fas fa-sort" style="float:right;margin-top:3px"></i></th>
						      <th scope="col" @click="sortBy(2, false)">Entity Type <i class="fas fa-sort" style="float:right;margin-top:3px"></i></th>
						    </tr>
						  </thead>
						  <tbody>
							<template v-for="api in apis">
								<api-row :api='api' :key="api.name"></api-row>
							</template>
						  </tbody>
					</table>
				</div>
			</div>
		  </div>
	</div>
	
	{% if site == "pending" %}
    <div id="contribute" class="text-theme-light text-center mt-5">
		<div class="container d-flex justify-content-center align-items-start mb-4">
			<div class="mx-4 card bg-dark-trans">
				<div class="card-body">
					<img class="card-image-top m-auto" width="128" src="/static/img/biothings-studio-text-2.svg" alt="BT Studio"/>
					<h2 class="mb-3 card-title">Built with BioThings Studio</h2>
					<a rel="noopener" class="btn btn-outline-light" target="_blank" href="http://docs.biothings.io/en/latest/doc/studio.html" title="BioThings Studio">
						Learn More About BioThings Studio <i class="fas fa-external-link-square-alt"></i>
					</a>
				</div>
			</div>
			<div class="mx-4 card bg-dark-trans">
				<img class="card-image-top m-auto" width="100" src="/static/img/infinity.svg" alt="Logo"/>
				<div class="card-body">
					<h2 class="text-theme-light main-font card-title">
						Build Your Own API
					</h2>
					<a rel="noopener" class="btn btn-outline-light" target="_blank" href="https://biothingsapi.readthedocs.io/en/latest/doc/studio.html">
						Follow this guide <i class="fas fa-external-link-square-alt"></i>
					</a>
				</div>
			</div>
		</div>
		
		<div class="container p-2 text-center bg-bts">
			<h2 class="mb-3">BioThings APIs</h2>
			<p class="text-white text-left">
				Pending APIs were built using
				<a rel="noopener"  class="link" href="https://biothingsapi.readthedocs.io/en/latest/" target="_blank">BioThings SDK</a> and follow the same design pattern of our official BioThings APIs (<a rel="noopener"  class="link" href="https://mygene.info" target="_blank">MyGene.info</a>,
				<a rel="noopener" class="link" href="https://myvariant.info" target="_blank">MyVariant.info</a>, <a rel="noopener"  class="link" href="https://mychem.info" target="_blank">MyChem.info</a>, <a rel="noopener"  class="link" href="https://mydisease.info" target="_blank">MyDisease.info</a> etc). Pending APIs are also pending to be integrated into the proper official BioThings API based on their entity type.
			</p>
			<div class="row w-75 m-auto">
				<div class="col-sm-12 col-md-6 p-4">
				<a rel="noopener"  class="link" target="_blank" href="https://mygene.info/" title="MyGene.info">
					<img alt="myGene" style="border:0px;" width="128" src="https://biothings.io/static/img/mygene-logo-128.png" alt="Logo 128"/>
									<small class="d-block text-theme-light">
					Gene annotation <br />as a service
					</small>
					<small class="d-block mt-2">
					Learn More About MyGene <i class="fas fa-external-link-square-alt"></i>
					</small>
				</a>
				</div>
				<div class="col-sm-12 col-md-6 p-4">
				<a rel="noopener"  class="link" target="_blank" href="https://myvariant.info/" title="MyVariant.info">
					<img alt="myVariant" style="border:0px;" width="128" src="https://biothings.io/static/img/myvariant-logo-128.png" alt="Logo 128"/>
									<small class="d-block text-theme-light">
					Variant annotation <br />as a service
					</small>
					<small class="d-block mt-2">
					Learn More About MyVariant <i class="fas fa-external-link-square-alt"></i>
					</small>
				</a>
				</div>
				<div class="col-sm-12 col-md-6 p-4">
				<a rel="noopener"  class="link" target="_blank" href="https://mychem.info/" title="MyChem.info">
					<img alt="myChem" style="border:0px;" width="128" src="https://biothings.io/static/img/mychem-logo-128.png" alt="Logo 128"/>
									<small class="d-block text-theme-light">
					Chemical/Drug annotation <br />as a service
					</small>
					<small class="d-block mt-2">
					Learn More About MyChem <i class="fas fa-external-link-square-alt"></i>
					</small>
				</a>
				</div>
				<div class="col-sm-12 col-md-6 p-4">
				<a rel="noopener"  class="link" target="_blank" href="https://mydisease.info/" title="MyDisease.info">
					<img alt="myDisease" style="border:0px;" width="128" src="https://biothings.io/static/img/mydisease-text-3.svg" alt="Logo 128"/>
									<small class="d-block text-theme-light">
					Disease annotation <br />as a service
					</small>
					<small class="d-block mt-2">
					Learn More About MyDisease <i class="fas fa-external-link-square-alt"></i>
					</small>
				</a>
				</div>
				<div class="col-sm-12 text-center p-5">
					<a rel="noopener"  class="link" href="http://biothings.io/#access" target="_blank">Other BioThings APIs in production <i class="fas fa-external-link-square-alt"></i></a>
				</div>
			</div>
		</div>
    </div>

    <div id="help" class="text-theme-light text-center py-4 bg-med">
		<h2 class="mb-5 main-font">
            Need Help?
        </h2>
		<div class="container p-4" style="position: relative;">
			<a rel="noopener"  class="btn-main" href="mailto:biothings@googlegroups.com" target="_blank">Contact Us</a>
		</div>
    </div>
	{% endif %}
</section>

{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script>

	const store = new Vuex.Store({
	state: {
		apis:[],
		apis_backup:[],
		loading: Boolean,
		biothing_types: [],
		offlineMetadata: {
				"biothing_type": "food",
				"build_date": "2023-06-18T01:50:38.675197+00:00",
				"build_version": "20230617",
				"src": {
					"foodb_json": {
					"licence": "CC BY 4.0",
					"code": {
						"repo": "https://github.com/yichuanma95/foodb_json",
						"commit": "d1366f0",
						"branch": "main",
						"url": "https://github.com/yichuanma95/foodb_json/tree/d1366f012910b7a9d0492c86a916aace775b8fb9/"
					},
					"stats": {
						"foodb_json": 992
					},
					"download_date": "2022-07-27T19:38:22.410000",
					"version": "1.0",
					"license_url": "https://creativecommons.org/licenses/by/4.0/",
					"url": "https://foodb.ca/about#cite",
					"upload_date": "2022-07-27T19:38:30.039000"
					}
				},
				"stats": {
					"total": 992
				}
			}
	},
	strict: true,
	mutations: {
		addAPI(state, payload){
		let api = payload['api'];
		if (api.hasOwnProperty('build_date')) {
			api.build_date = moment(api.build_date).format("M-D-YYYY"); 
		}
		state.apis.push(api)
		state.apis_backup.push(api)

		var newOptionElement = document.createElement("option");
  		newOptionElement.textContent = api.name
		document.getElementById('api_list').appendChild(newOptionElement);
		},
		saveAPIs(state, payload){
		state.apis = payload['apis']
		},
		setLoading(state, payload){
		state.loading = payload['loading'];
		},
		toggleType(state, payload){
			let name = payload['name'];
			state.loading = true;
			if (payload['featured']) {
				state.biothing_types.forEach(type=>{
					if (type.name != name) {
						type.active = false
					}
				});
			}
			for (let i = 0; i < state.biothing_types.length; i++) {
				if (state.biothing_types[i].name == name) {
					state.biothing_types[i].active = !state.biothing_types[i].active
				}
			}
			state.loading = false;
		},
		findBiothingTypes(state){
			let types = new Set();
			let final = []
			state.apis.forEach(api=>{
				if (api.hasOwnProperty('biothing_type')) {
					types.add(api.biothing_type);
				}
			});
			function getColor(name){
				switch (name) {
					case 'gene':
						return "#669BE8"
						break;
					case 'variant':
						return "#84D958"
						break;
					case 'chemical':
						return "#FF8F39"
						break;
					case 'disease':
						return "#9356bf"
						break;
					case 'association':
						return "#e91e62"
						break;
					default:
						return '#7209b7'
						break;
				}
			}

			[...types].forEach(type=>{
				final.push({
						'name': type,
						'active': false,
						'color': getColor(type)
					});
			})
			Vue.set(state, 'biothing_types', final)
		},
		orderAlphabetically(state){
			// Not used yet
			let data = state.apis.reduce((r, e) => {
				let group = e['name'][0];
				if(!r[group]) r[group] = {group, children: [e]}
				else r[group].children.push(e);
				return r;
			}, {});

			res = Object.values(data)
			let = groupByLetter = _.orderBy(res, ['group'], ['asc']);
			state.apis = groupByLetter;
		},
	},
	getters:{
		getAPIS:state=>{
		return state.apis
		},
		getAPISBackup:state=>{
		return state.apis_backup
		},
		getLoading:state=>{
		return state.loading
		},
		getBiothingTypes:state=>{
		return state.biothing_types
		},
		activeBiothingTypes:state=>{
			return state.biothing_types.filter(type=>type.active)
		}
	},
	actions:{
		getIndividualAPIMetadata ({commit,state}, payload) {
			let api_ids = payload['ids'];
			commit('setLoading', {'loading': true});
			if (api_ids.length) {
				api_ids.forEach( api =>{
				axios.get('/' + api['_id'] + '/metadata').then(res=>{
					let meta = res.data
					meta['name'] = api['_id'];
					commit('addAPI', {'api': meta});
					commit('findBiothingTypes');
				}).catch(err=>{
					throw err;
				})
					// // FOR TESTING ONLY
					// let meta = { ...state.offlineMetadata };
					// meta['name'] = api['_id'];
					// commit('addAPI', { 'api': meta });
					// commit('findBiothingTypes');
				});
			} else {
				console.warn('API list not available');
			}

			commit('setLoading', {'loading': false});
			
		},
		filterAPIs ({commit,state}, payload) {
			let query = payload['query'];
			commit('setLoading', {'loading': true});
			let active_filters = []
			state.biothing_types.forEach(type=>{
				if (type.active) {
					active_filters.push(type.name)
				}
			});
			if (active_filters.length) {
				if (query) {
					let filter_res = state.apis_backup.filter( api => {
						if (api.name.includes(query) && active_filters.includes(api.biothing_type)) {
							return api
						}
					});
					commit('saveAPIs', {'apis': filter_res});
				
				} else {
					let filter_res = state.apis_backup.filter( api => {
						if (active_filters.includes(api.biothing_type)) {
							return api
						}
					});
					commit('saveAPIs', {'apis': filter_res});
				}
			}else{
				if (query) {
				let filter_res = state.apis_backup.filter( api => {
					if (api.name.includes(query)) {
						return api
					}
				});
				commit('saveAPIs', {'apis': filter_res});
			
			} else {
				commit('saveAPIs', {'apis': state.apis_backup});
			}
			}
			
			commit('setLoading', {'loading': false});
		}
	}
	});

	Vue.component('featured-type', {
	data: function(){
		return{
			featured: null,
		}
	},
	props: ['biotype'],
	methods:{
		numberWithCommas(total) {
			if (total) {
				return total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}else{
				return 'N/A'
			}
		},
		toggleType(name){
			store.commit('toggleType', {'name': name, 'featured': true})
			store.dispatch('filterAPIs', {'query': self.query})
		},
	},
	computed: {
		apis() {
			return store.getters.getAPISBackup;
		},
		list() {
			if (this.apis?.length) {
			return this.apis.filter(v => v['biothing_type'] === this.biotype);
			} else {
			return [];
			}
		},
		docs() {
			if (this.list.length) {
			return this.list.reduce((totalSum, item) => {
				// Ensure item.stats and item.stats.total exist
				const total = item?.stats?.total || 0;
				return totalSum + total;
			}, 0);
			} else {
			return 0;
			}
		},
		color(){
			switch (this.biotype) {
				case 'gene':
					return "#669BE8"
					break;
				case 'variant':
					return "#84D958"
					break;
				case 'chemical':
					return "#FF8F39"
					break;
				case 'disease':
					return "#9356bf"
					break;
				case 'association':
					return "#e91e62"
					break;
				default:
					return '#501cbe'
					break;
			}
		},
		isActive(){
			return store.getters.activeBiothingTypes.some(type => type.name === this.biotype)
		}
	},
	template: `<div class="card mx-2 bg-theme-dark bg-hex">
				<div class="card-body">
					<h5 class="card-title pointer" @click.prevent="toggleType(biotype)" :class="[isActive ? 'text-theme-accent' : 'text-primary']">
						<i class="fas fa-circle mr-1" :style="{'color':color}"></i>
						<span v-text="list?.length && list?.length"></span> <span class="capitalize" v-text="biotype"></span> APIs
					</h5>
					<p class="card-text text-white"><span v-text="numberWithCommas(docs)"></span> documents</p>
				</div>
			</div>`
	});

	Vue.component('api-row', {
	data: function(){
		return{
			loading:false,
			metadata:null,
		}
	},
	props: ['api'],
	methods:{
		numberWithCommas(total) {
			if (total) {
				return total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}else{
				return 'N/A'
			}
		},
		getColor(){
				switch (this.api.biothing_type) {
					case 'gene':
						return "#669BE8"
						break;
					case 'variant':
						return "#84D958"
						break;
					case 'chemical':
						return "#FF8F39"
						break;
					case 'disease':
						return "#9356bf"
						break;
					case 'association':
						return "#e91e62"
						break;
					default:
						return '#7209b7'
						break;
				}
			}
	},
	computed:{
		color:function(){
			return this.getColor()
		}
	},
	template: `<tr class="api-row border rounded p-1 m-1 text-left">
				<td class="bold">
					<a :href="'./'+api['name']">
						<b v-text="api.name"></b>
					</a>
				</td>
				<td class="d-none d-md-table-cell" v-if="api && api.stats" v-text="numberWithCommas(api.stats?.total)"></td>
				<td v-if="api && api.biothing_type">
					<small>
						<i class="fas fa-circle" :style="{color:color}"></i> <span v-text="api.biothing_type"></span>
					</small>
				</td>
			</tr>`
	});

	var app = new Vue({
	el: '#index-app',
	data: function(){
		return {
			api_list:[],
			shown:20,
			query:"",
			apiSelected:'',
			querySelected:'',
			queryString:'',
			querySelectionType:'example',
			success: false,
			apiList:[],
		}
	},
	computed:{
		apis : () =>{
			return store.getters.getAPIS
		},
		loading : () =>{
			return store.getters.getLoading
		},
		biothing_types: () =>{
			return store.getters.getBiothingTypes
		}
	},
	watch:{
		query: v =>{
			store.dispatch('filterAPIs', {'query': v})
		}
	},
	methods: {
		getAPIDetails: (list) => {
			store.dispatch('getIndividualAPIMetadata', {'ids': list})
		},
		toggleType(name){
			let self = this;
			store.commit('toggleType', {'name': name})
			store.dispatch('filterAPIs', {'query': self.query})
		},
		sortBy(n, numeric) {
     	  // function based off w3 schools function https://www.w3schools.com/howto/howto_js_sort_table.asp
		  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
		  table = document.getElementById("pending-api-table");
		  switching = true;
		  // Set the sorting direction to ascending:
		  dir = "asc";
		  /* Make a loop that will continue until
		  no switching has been done: */
		  while (switching) {
		    // Start by saying: no switching is done:
		    switching = false;
		    rows = table.rows;
		    /* Loop through all table rows (except the
		    first, which contains table headers): */
		    for (i = 1; i < (rows.length - 1); i++) {
		      // Start by saying there should be no switching:
		      shouldSwitch = false;
		      /* Get the two elements you want to compare,
		      one from current row and one from the next: */
		      x = rows[i].getElementsByTagName("TD")[n];
		      y = rows[i + 1].getElementsByTagName("TD")[n];
		      /* Check if the two rows should switch place,
		      based on the direction, asc or desc: */
		      value1 = x.innerHTML.toLowerCase()
		      value2 = y.innerHTML.toLowerCase()
		      if(numeric){
		      	value1 = parseInt(value1.replace(/[^0-9]/g, ''))
				value2 = parseInt(value2.replace(/[^0-9]/g, ''))		      	
				}
		      if (dir == "asc") {
		        if (value1 > value2) {
		          // If so, mark as a switch and break the loop:
		          shouldSwitch = true;
		          break;
		        }
		      } else if (dir == "desc") {
		        if (value1 < value2) {
		          // If so, mark as a switch and break the loop:
		          shouldSwitch = true;
		          break;
		        }
		      }
		    }
		    if (shouldSwitch) {
		      /* If a switch has been marked, make the switch
		      and mark that a switch has been done: */
		      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
		      switching = true;
		      // Each time a switch is done, increase this count by 1:
		      switchcount ++;
		    } else {
		      /* If no switching has been done AND the direction is "asc",
		      set the direction to "desc" and run the while loop again. */
		      if (switchcount == 0 && dir == "asc") {
		        dir = "desc";
		        switching = true;
		      }
		    }
		  }
		},

	},
	mounted: function(){
		if ({{Context}}) {
			this.context = {{Context}}
			this.api_list = this.context.List
			// console.log('API List', this.api_list)
			this.getAPIDetails(this.api_list);
		}
		this.$nextTick(() => {
			this.$refs.searchInput.focus();
		});
		}
	});
	// Smooth Scrolling to Anchors
	// Select all links with hashes
	$('a[href*="#"]')
	// Remove links that don't actually link to anything
	.not('[href="#"]')
	.not('[href="#0"]')
	.click(function(event) {
		// On-page links
		if (
		location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
		&&
		location.hostname == this.hostname
		) {
		// Figure out element to scroll to
		var target = $(this.hash);
		target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
		// Does a scroll target exist?
		if (target.length) {
			// Only prevent default if animation is actually gonna happen
			event.preventDefault();
			$('html, body').animate({
			scrollTop: target.offset().top
			}, 1000, function() {
			// Callback after animation
			// Must change focus!
			var $target = $(target);
			$target.focus();
			if ($target.is(":focus")) { // Checking if the target was focused
				return false;
			} else {
				$target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
				$target.focus(); // Set focus again
			};
			});
		}
		}
	});
</script>
{% endblock %}
