<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="HandheldFriendly" content="True" />
		<meta property="og:locale" content="en_US" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta property="og:image" content="https://i.postimg.cc/J4gFsmx0/featured.jpg">
		<meta name="description" content="APIs pending for integration with core BioThings API" />
		<meta property="og:image:type" content="image/jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:type" content="website">
		<meta property="fb:app_id" content="" />
		<meta name="twitter:image" content="/static/img/favicon-96x96.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-96x96.png">
		<link rel="manifest" href="/static/site.webmanifest">
		<link rel="mask-icon" href="static/img/favicon.svg" color="#501cbe">
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<meta name="msapplication-TileColor" content="#501cbe">
		<meta name="msapplication-config" content="static/img/browserconfig.xml">
		<meta name="theme-color" content="#501cbe">
		<link rel="shortcut icon" type="image/png" href="/static/img/favicon-96x96.png"/>
		<!-- Styles -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/app.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<script async defer src="https://buttons.github.io/buttons.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
		{% block extra_head %}
		{% endblock %}
	</head>
	<body class="bg-theme-dark">
		<!-- Wrapper -->
			<div id="wrapper">
				{% include "header.html" %}
				{% block content %}
				{% endblock %}
				{% include "footer.html" %}
			</div>
		<!-- Scripts -->
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
			{% block extra_scripts %}
			{% endblock %}
			{% if ga_tracking %}
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ga_tracking}}"></script>
			{% endif %}
	</body>
</html>
