{% extends "main.html" %}
{% block content %}
<section id="try-app" class="bg-theme-dark text-theme-light min-height-100">
  <div v-if="validAPI" class="m-0 min-height-100 d-flex justify-content-start align-items-stretch">
    <div v-if="metadata && metadata.src" class="bg-theme-dark bg-hex p-5 col-sm-12 col-md-4">
      <div class="text-left">
        <h1 class="text-light main-font" style="text-transform: uppercase; overflow-wrap: break-word;" :data-text='api' v-text='api.split("_").join(" ")'></h1>
        <p v-if="!existingEntity">
          <small>Entity Type: </small>
          <template v-if="metadata.biothing_type">
            <span class="text-white" v-text="metadata.biothing_type"></span>
          </template>
          <template v-if="metadata.doc_type">
            <span class="text-white" v-text="metadata.doc_type"></span>
          </template>
        </p>
        <p class="mt-1" class="text-white" v-if="numberOfDocs" v-text="numberWithCommas(numberOfDocs)+' documents'"></p>
      </div>
      <div class="d-flex justify-content-center align-items-start mt-4 flex-wrap">
        <source-info v-for="(info, name) in metadata.src" :key="name" class="m-2" :info="info" :name="name"></source-info>
      </div>
      <template v-if='description && !multiSource'>
        <small class="d-block mt-2" v-html="description"></small>
      </template>
      <template v-if='author_url'>
        <small class="d-block mt-2">
          Developed by
          <a rel="noopener" :href='author_url' target="_blank" class="link">
            <i class="fab fa-github"></i> <span v-text='metadata.src[getKeyName(metadata.src)]["author"]["name"]'></span> <i class="fas fa-external-link-square-alt"></i>
          </a>
        </small>
      </template>
      <div class="m-5 p-1" style="position: relative">
        <a rel="noopener" target="_blank" class="btn-main" :href="'https://github.com/biothings/pending.api/labels/'+api"><i class="fab fa-github"></i> Give Feedback</a>
      </div>
      <div v-if="existingEntity" >
        <small>Pending for integration with:</small>
        <div v-if="metadata.biothing_type" class="badge bg-dark-trans d-block p-1 m-2">
          <a rel="noopener"  v-if="metadata.biothing_type === 'gene'" target="_blank" href="https://mygene.info/"><img alt="myGene"  src="/static/img/mygene-text.svg" height="20px"/></a>
          <a rel="noopener"  v-if="metadata.biothing_type === 'variant'" target="_blank" href="https://myvariant.info"><img alt="myVariant"  src="/static/img/myvariant-text.svg" height="20px"/></a>
          <a rel="noopener"  v-if="metadata.biothing_type === 'chemical'" target="_blank" href="https://mychem.info"><img alt="myChem" src="/static/img/mychem-text.svg" height="20px"/></a>
          <a rel="noopener"  v-if="metadata.biothing_type === 'disease'" class="link" target="_blank" href="http://mydisease.info/"><img alt="myDisease" src="/static/img/mydisease-text.png" height="20px"/></a>
        </div>
        <div v-if="metadata.doc_type" class="badge bg-dark-trans d-block p-1 m-2">
          <a rel="noopener"  v-if="metadata.doc_type === 'gene'" target="_blank" href="https://mygene.info/"><img alt="myGene"  src="/static/img/mygene-text.svg" height="20px"/></a>
          <a rel="noopener"  v-if="metadata.doc_type === 'variant'" target="_blank" href="https://myvariant.info"><img alt="myVariant"  src="/static/img/myvariant-text.svg" height="20px"/></a>
          <a rel="noopener"  v-if="metadata.doc_type === 'chemical'" target="_blank" href="https://mychem.info"><img alt="myChem" src="/static/img/mychem-text.svg" height="20px"/></a>
          <a rel="noopener"  v-if="metadata.doc_type === 'disease'" class="link" target="_blank" href="http://mydisease.info/"><img alt="myDisease" src="/static/img/mydisease-text.png" height="20px"/></a>
        </div>
      </div>
    </div>

    <div class="bg-theme-light col-sm-12 col-md-8 p-2 pt-4">
      <form class="d-flex justify-content-start flex-wrap" @submit.prevent="testQuery()">
        <div class="p-1 d-inline ml-4">
          <h5 class="text-md-right" v-text="window.location.origin + '/' + api"></h5>
        </div>
        <div class="d-inline p-1">
          <template v-if="querySelectionType==='example'">
            <select v-model="querySelected" class="form-control scale-in-center" id="exampleFormControlSelect1">
              <template v-for="item in exampleQueries">
                <option :value="item" v-text="item.length > 100 ? item.slice(0,100)+'...' : item"></option>
              </template>
            </select>
          </template>
          <template v-if="querySelectionType==='own'">
            <input v-model="querySelected" type="text" class="form-control scale-in-center" id="exampleFormControlInput1" placeholder="enter query here">
          </template>
          <button @click="querySelected=''" v-if="querySelected" class="btn btn-outline-danger text-theme-light mt-2 mr-2" type="button">Clear</button>
          <button v-if="querySelected" class="btn btn-outline-info text-theme-light mt-2" type="submit">Submit</button>
          <label class="text-theme-light" v-if="!querySelected" for="api">Select a query</label>
          <div class="form-check text-left mt-3">
            <input v-model="querySelectionType" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="example" checked>
            <label class="form-check-label" for="exampleRadios1">
              Example Queries <button @click='refreshExmaples()' class="btn btn-sm btn-dark ml-3 text-theme-light" type="button" style="zoom:.8">Generate New <i v-if="loadingExamplesQueries" class="fas fa-spinner fa-pulse text-theme-light"></i></button>
            </label>
          </div>
          <div class="form-check text-left">
            <input v-model="querySelectionType" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="own">
            <label class="form-check-label" for="exampleRadios2">
              Write My Own Query
            </label>
          </div>
        </div>
      </form>
      <p class="bold text-left" v-if="success && queryString" style="word-break: break-all;">
        <i  class="fas" :class="[success? 'fa-check' : 'fa-circle']"></i> <a rel="noopener" target="_blank" :href="finalURL" v-text="window.location.host + finalURL" type="text" :style="{'color' : success && !errorEncountered ? 'limegreen' : 'coral'}"></a>
      </p>
      <div v-show='loading' class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
      <pre v-show="success" id="callResults" class="p-2 text-theme-dark bg-white text-left mt-4 mb-4" style="font-size:1em !important;max-height: 800px;min-height: 800px; overflow: scroll; border-style: inset; border: 2px #5d5d5d solid;border-radius: 5px;">

      </pre>
    </div>

  </div>
  <div v-else>
    <div class="bg-theme-dark jumbotron text-theme-light text-center mt-5">
      <h1>Nothing to see here...</h1>
      <h5><span v-text='api'></span> is not a pending API</h5>
    </div>
  </div>
</section>

{% endblock %}
{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="/static/js/renderjson.js"></script>
  <script src="/static/js/lodash.js"></script>
  <script>

  Vue.component('source-info', {
    props: ['info', 'name'],
    methods:{
      formatString(input) {
        return input
          .split('_') // Split the string by underscores
          .map(word => {
            if (word.length <= 3) {
              return word.toUpperCase(); // Capitalize short words (3 letters or fewer)
            } else {
              return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase(); // Capitalize first letter of longer words
            }
          })
          .join(' '); // Join the words back into a sentence
      },
      trimString(str) {
        if (str.length > 10) {
          return str.slice(0, 10) + "..."; // Get the first 4 characters and append "..."
        }
        return str; // If the string is 4 characters or less, return it as is
      }
    },
    computed:{
        version:function(){
          if (this.info?.version) {
            return this.info.version
          } else {
            return false
          }
        },
        source_url:function(){
          if (this.info?.url) {
            return this.info.url
          } else {
            return false
          }
        },
        source_code:function(){
          if (this.info?.code?.url) {
            return this.info.code.url
          } else {
            return false
          }
        },
        license_url:function(){
          if (this.info?.license_url) {
            return this.info?.license_url
          } else {
            return false
          }
        },
    },
    template: `
    <div class="source-box p-1">
      <h6 class="text-white" v-text="formatString(name)" :title="info?.description"></h6>
      <small v-if="version" :title="version" class="d-block" v-text="'Version ' + trimString(version)"></small>
      <ul class="link-list">
        <li class="d-inline" v-if='source_url'>
          <small>
            <a rel="noopener" :href='source_url' target="_blank" class="link">
              Source <i class="fas fa-external-link-square-alt"></i>
            </a>
          </small>
        </li>
        <li class="d-inline" v-if='source_code'>
          <small>
            <a rel="noopener" :href='source_code' target="_blank" class="link">
              Code <i class="fas fa-external-link-square-alt"></i>
            </a>
          </small>
        </li>
        <li class="d-inline" v-if='license_url'>
          <small>
            <a rel="noopener" :href='license_url' target="_blank" class="link">
              License <i class="fas fa-external-link-square-alt"></i>
            </a>
          </small>
        </li>
      </ul>
    </div>
    `
    });


    var app = new Vue({
      el: '#try-app',
      data: function(){
        return {
          api:'',
          metadata:{},
          querySelected:'',
          queryString:'',
          finalURL: '',
          querySelectionType:'example',
          success: false,
          errorEncountered: false,
          loading: false,
          loadingExamples: false,
          loadingExamplesQueries:false,
          exampleQueries:[
            '/metadata',
            '/metadata/fields'
          ],
          numberOfDocs:null,
          validAPI: true,
          type:'',
          numberOfExamples:8,
          existingEntity:false
        }
      },
      watch:{
        exampleQueries:function(qs){
          if (qs.length < this.numberOfExamples) {
            this.generateTestQueriesStart()
          }
          if (qs.length > this.numberOfExamples) {
            this.exampleQueries = this.exampleQueries.slice(0,this.numberOfExamples)
          }
        }
      },
      computed:{
        sourceDetails:function(){
          try {
            return this.metadata.src[this.getKeyName(this.metadata.src)]
          } catch (e) {
            return {}
          }
        },
        multiSource:function(){
          return Object.keys(this.metadata.src).length > 1 ? true : false;
        },
        source_url:function(){
          if (this.sourceDetails?.url) {
            return this.sourceDetails['url']
          } else {
            return false
          }
        },
        source_code:function(){
          if (this.sourceDetails?.code?.url) {
            return this.sourceDetails['code']['url']
          } else {
            return false
          }
        },
        author_url:function(){
          if (this.sourceDetails?.author?.url) {
            return this.sourceDetails?.author?.url
          } else {
            return false
          }
        },
        license_url:function(){
          if (this.sourceDetails?.license_url) {
            return this.sourceDetails?.license_url
          } else {
            return false
          }
        },
        description:function(){
          if (this.sourceDetails?.description) {
            return this.sourceDetails?.description
          } else {
            return false
          }
        }
      },
      methods: {
        generateTestQueriesStart(){
          let self = this;
          // console.log("🤖 Generate queries")
          self.loadingExamplesQueries = true;
          // testing only: numberOfDocs will be null so set to 100
          let docNumberLimit = self.numberOfDocs ? self.numberOfDocs : 100;
          if (docNumberLimit < 250000000) {
            let limit = Math.floor(Math.random() * 10000);
            let size = 100;
            self.loadingExamples = true
            if (limit) {
              if (limit > docNumberLimit) {
                limit = docNumberLimit-100;
              }
              if (docNumberLimit < 100) {
                limit = 0
              }
              axios.get("/" + self.api.toLowerCase() + '/query?q=__all__&from=' + limit + '&size=' + size)
                .then(result=>{
                let res = result.data.hits
                let i = 0;
                let picks = []
                //make query string query
                self.generateQuery(res[self.randomNumber(size)]);
                while ( i < self.numberOfExamples) {
                  let doc = res[self.randomNumber(size)]
                  picks.push(doc)
                  i++;
                }
                let problematic = []
                for (var picksIndex = 0; picksIndex < picks.length; picksIndex++) {
                  let value = self.getQueryString(picks[picksIndex])
                  if (value) {
                    let query = '/query?q=' + value;
                    //excludes duplicates and results with undefined terms
                    if (!self.exampleQueries.includes(query) && !query.includes('undefined')) {
                      self.exampleQueries.push(query)
                    }else{
                      problematic.push(query)
                    }
                  }
                }
                if (problematic.length) {
                  console.warn('Skipped duplicate or undefined queries: ')
                  console.warn("%c "+JSON.stringify(problematic, null, 2), 'color:hotpink')
                }
                
                self.loadingExamples = false
              }).catch(err=>{
                throw err;
                self.generateTestQueriesStart()
                self.loadingExamples = false
              })
            }
          }else{
            self.loadExamplesFromMetadata();
          }

          setTimeout(function(){
            self.loadingExamplesQueries = false;
          }, 1000);
        },
        getQueryString(obj) {
        let self = this;
        let string = self.randomProperty(obj);
        if (string) {
          if (_.isPlainObject(obj[string])) {
            let value = self.getQueryString(obj[string]);
            if (value) {
              string += "." + value
            } else {
              return false;
            }
          } 
          else if (_.isArray(obj[string])) {
            if (obj[string].length > 0) {
              if (typeof obj[string][0] == 'string') {
                let value = self.handleStringValue(obj[string][0]);
                if (value) {
                  string += ":" + value;
                }else{
                  return false;
                }
              }else {
                let value = self.getQueryString(obj[string][0])
                if (value) {
                  string += "." + value
                } else {
                  return false;
                }
              }
            } else {
              console.warn("Can't generate query from empty array in field:")
              console.warn("%c "+JSON.stringify(obj, null, 2), 'color:orange')
              return false;
            }
          }
          else if (_.isBoolean(obj[string])) {
            string += ":" + obj[string]
          } 
          else if (_.isNumber(obj[string])) {
            if (parseInt(obj[string]) < 0) {
              string += `:"${obj[string]}"`
            } else {
              string += ":" + obj[string]
            }
          } 
          else if (_.isString(obj[string]) ) {
            let value = self.handleStringValue(obj[string]);
            if (value) {
              string += ":" + value
            }
            else{
              return false;
            }
          }
          return string
        }
      },
        handleStringValue(string){
          //check values to be skipped first
          if (string.length > 50) {
            // value is too long
            console.warn("Skipped long value:")
            console.warn("%c " + string, 'color:purple')
            return false
          }
          else if(string.includes(">") || string.includes("<")){
            // ES cannot escape these characters
            console.warn("Skipped unescapable ES characters:")
            console.warn("%c " + string, 'color:pink')
            return false
          }
          //quote spaces
          else if (string.includes(" ")) {
            if (string.includes('"')) {
              console.warn("Skipped value with quotes")
              console.warn("%c " + string, 'color:pink')
              return false
            } else {
              return `"${string}"`;
            }
          }
          //escape colons
          if (string.includes(":")) {
            return string.replaceAll(":", "\\:");
          }
          //escape backslashes
          else if (string.includes("\\")) {
            return string.replaceAll("\\", "\\\\");
          }
          else{
            return string
          }
        },
        generateQuery(dataObject){
          var self = this;
          if (dataObject && dataObject.hasOwnProperty("_id")) {
            let id= dataObject["_id"];
            let query ='/'+self.type+"/"+id;
            self.exampleQueries.push(query);
          }
        },
        randomProperty(obj) {
          if (_.isPlainObject(obj)) {
            var keys = Object.keys(obj)
            if (keys.includes('_id')) {
              var index = keys.indexOf('_id');
              if (index > -1) {
                keys.splice(index, 1);
              }
            }
            if (keys.includes('_score')) {
              var index = keys.indexOf('_score');
              if (index > -1) {
                keys.splice(index, 1);
              }
            }
            let rdmKeyIndex = keys.length * Math.random() << 0;
            if (typeof obj[keys[rdmKeyIndex]] == 'string' && obj[keys[rdmKeyIndex]].includes('http')) {
              console.warn('Skipped URL value: ', obj[keys[rdmKeyIndex]])
              return false
            } else {
              return keys[rdmKeyIndex];
            }
          }else {
            return false
          }
        },
        randomNumber(max) {
          let number = Math.floor(Math.random() * max) + 1
          return number
        },
        loadExamplesFromMetadata(){
          let self = this;
          if (self.metadata.example_queries) {
            self.exampleQueries = self.metadata.example_queries;
          }
        },
        numberWithCommas(x) {
          if (x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          } else {
            return ''
          }
        },
        testQuery(){
          if (this.api && this.querySelected) {
            this.queryString = "/" + this.api.toLowerCase() + this.querySelected
            this.finalURL = this.queryString;
            this.callApi(this.queryString)
          }
        },
        refreshExmaples(){
          var self = this;
          self.exampleQueries =[
            '/metadata',
            '/metadata/fields'
          ];
          self.generateTestQueriesStart();
        },
        callApi(myUrl){
          let self = this;
          $('#callResults').html('');
          self.loading = true;
          axios.get(myUrl).then(res=>{
            self.loading = false;
            renderjson.set_show_to_level(7);
            $('#callResults').html( renderjson(res.data) );
            self.success = true;
            self.errorEncountered = false;
          })
          .catch(err=>{
            self.loading = false;
            renderjson.set_show_to_level(7);
            $('#callResults').html( renderjson(err.response.data) );
            //needs to be true to show error on UI
            self.success = true;
            self.errorEncountered = true;
            throw err;
          });
        },
        getKeyName(obj){
          for (var key in obj) {
            if (key !== 'src_version') {
              return key;
            }
          }
        },
        getMetadata(){
          let self = this;
          self.pending=[];
          let safeList = ['gene','chemical','variant','disease']
          axios.get("/" + self.api + '/metadata').then(res=>{
            self.metadata = res.data;
            self.numberOfDocs = self.metadata?.stats?.total;
            if (self.metadata.biothing_type) {
              self.type= self.metadata.biothing_type;
            }else if (self.metadata.doc_type) {
              self.type= self.metadata.doc_type;
            }
            if (self.metadata.hasOwnProperty('doc_type')) {
    					if (safeList.includes(self.metadata['doc_type'])) {
    						self.existingEntity = true
    					}
    				}
    				else if (self.metadata.hasOwnProperty('biothing_type')) {
    					if (safeList.includes(self.metadata['biothing_type'])) {
    						self.existingEntity = true
    					}
    				}
            self.generateTestQueriesStart()
          }).catch(err=>{
            self.validAPI = false;
            throw err;
          })

        }
      },
        mounted: function(){
          this.api  = window.location.pathname.replace('/','').toLowerCase();
          this.getMetadata();
        }
    });
  </script>
{% endblock %}
